.App {
  width: 95vw;
  max-width: 1170px;
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
  margin: 15px auto 40px;
  position: relative;
}
.cards {
  padding: 5rem 0;
  position: relative;
}
.cards-overlay {
  background: url("../images/defaultBcg.jpeg") center/cover no-repeat;
  background-color: rosybrown;
  background-blend-mode: multiply;
  background-position: center center;
  /* background-attachment: fixed; */
  /* opacity: .4; */
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.title {
  font-family: 'Dancing Script',sans-serif ,cursive;
  text-align: center;
  color: #FFFFFF;
  font-size: 45px;
  font-weight: 300;
  line-height: 1.5;
  /* margin-top: 15px; */
  margin-bottom: 2rem;
  text-shadow: 1px 1px 2px black;
  position: relative;
  display: grid;
}
.atention {
  font-Family: 'Roboto', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  /* line-height: 1.5; */
  /* margin-top: 15px; */
  /* margin-bottom: 2rem; */
  text-shadow: none;
  /* border: 1px solid currentColor; */
  border-radius: 6px;
  padding: 3px 6px;
  background-color: #5526B9;
  letter-spacing: 0.01em;
}
.content-atention {
  padding: 0;
  /* font-size: 15px; */
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
}
.logCom {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 0;
  padding: 0 1rem;
  position: relative;
}
.log {
  width: 100%;
  min-width: 300px;
  max-width: 495px;
}